{% extends "layout.html" %}
{% block path %}<a href="/">Home</a> / create a new program{% endblock %}
{% block title %}Create a new program{% endblock %}
{% block content %}
<script>
  function validateText(name, value) {
    if (typeof value !== "string" || value.length > 100) {
      alert(`${name} has to be a string shorter than 100 characters`)
      return false
    }
    return true
  }

  function validateForm(form) {
    return validateText("Name", form.program_name.value)
  }
</script>

<form action="/create-program" method="POST" id="program_data" onsubmit="return validateForm(this)">
  <h1>Create a new workout program</h1>
  <label for="program_name">Name of the workout program:</label>
  <input type="text" id="program_name" name="program_name" rows="1" cols="30"></input>
  <p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Create program">
</form>
{% endblock %}
