{% extends "layout.html" %}
{% block path %}<a href="/">Home</a> / <a href="/edit-program/{{ program_id }}">edit-program</a> / edit-program-name{% endblock %}
{% block title %}Edit program name{% endblock %}
{% block content %}
<script>
  function validateText(name, value) {
    if (typeof value !== "string" || value.length > 100) {
      alert(`${name} has to be a string shorter than 100 characters`)
      return false
    }
    return true
  }

  function validateForm(form) {
    return validateText("Name", form.name.value) && validateText("Description", form.description.value)
  }
</script>

<form action="/edit-program/{{ program_id }}/edit" method="POST" id="program_data" onsubmit="return validateForm(this)">
  <h1>Change program name</h1>
  <div class="container text-center" style="padding-top: 1rem; padding-bottom: 1rem;">
    <div class="row align-items-start">
      <div class="col-6 p-1">
        <label for="name" class="col-form-label">Name of the workout program:</label>
      </div>
      <div class="col-6 p-1">
        <input type="text" id="name" name="name" class="form-control" required value="{{ program_name }}"></input>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-6 p-1">
        <label for="description" class="col-form-label">Description of the workout program:</label>
      </div>
      <div class="col-6 p-1">
        <input type="text" id="description" name="description" class="form-control" value="{{ description }}"></input>
      </div>
    </div>
  </div>
  <p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Save" class="btn btn-primary">
</form>
{% endblock %}
