{% extends "layout.html" %}
{% block path %}<a href="/">Home</a> / <a href="/edit-program/{{ program_id }}">edit-program</a> / edit-program-name{% endblock %}
{% block title %}Edit program name{% endblock %}
{% block content %}
<script>
  function validateText(name, value) {
    if (typeof value !== "string" || value.length > 100) {
      alert(`${name} has to be a string shorter than 100 characters`)
      return false
    }
    return true
  }

  function validateForm(form) {
    return validateText("Name", form.name.value)
  }
</script>

<form action="/edit-program/{{ program_id }}/edit" method="POST" id="program_data" onsubmit="return validateForm(this)">
  <h1>Change program name</h1>
  <label for="name">Name of the workout program:</label>
  <input type="text" id="name" name="name" rows="1" cols="30" value="{{ program_name }}"></input>
  <p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Save">
</form>
{% endblock %}
