{% extends "layout.html" %}
{% block path %}Home / {% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<script>
  function validateText(name, value) {
    if (typeof value !== "string" || value.length > 100) {
      alert(`${name} has to be a string shorter than 100 characters`)
      return false
    }
    return true
  }

  function validateForm(form) {
    return validateText("username", form.username.value)
      && validateText("password", form.password.value)
  }
</script>

{% if session.username %}
<p>
<b>Your workout programs:</b>

<div class="container overflow-hidden text-center">
  <div class="row">
    {% for program in programs %}
    {% set results_url = "/results/" + program[0]|string %}
    {% set edit_url = "/edit-program/" + program[0]|string %}
    <div class="col p-2">
      <div class="card text-bg-light" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ program[1] }}</h5>
          <p class="card-text">{{ program[2] }}</p>
          <a href="{{ results_url }}" class="btn btn-primary">view / add results</a>
          <a href="{{ edit_url }}" class="btn">edit program</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col p-2">
      <div class="card text-bg-dark" style="width: 18rem;">
        <div class="card-body" >
          <h5 class="card-title">Create a new program</h5>
          <a href="/create-program" class="btn btn-secondary" >Create</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<form action="/login" method="POST" onsubmit="return validateForm(this)">
  <div class="p-4">
    <div class="row g-3 p-2">
      <div class="col"></div>
      <div class="col">
        <label for="username" class="col-form-label">Username</label>
      </div>
      <div class="col">
        <input type="text" id="username" name="username" class="form-control">
      </div>
      <div class="col"></div>
    </div>
    <div class="row g-3 p-2">
      <div class="col"></div>
      <div class="col">
        <label for="password" class="col-form-label">Password</label>
      </div>
      <div class="col">
        <input type="password" id="password" name="password" class="form-control">
      </div>
      <div class="col"></div>
    </div>
    <div class="row g-3 p-4">
      <div class="col">
        <input type="submit" value="Login" class="btn btn-primary"> or <a href="/register" class="link-opacity-50-hover">register</a>
      </div>
    </div>
  </div>
  
</form>
{% endif %}
{% endblock %}
