<!DOCTYPE html>
<script>

</script>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<p>
<a href="/create-program">Create a new workout program</a>
<p>
<b>Your workout programs:</b>

<ul>
  {% for program in programs %}
  {% set results_url = "/results/" + program[0]|string %}
  {% set edit_url = "/edit-program/" + program[0]|string %}
  
  <li> {{ program[1] }} <a href= "{{ results_url }}">results</a> <a href= "{{ edit_url }}">edit</a></li>
  {% endfor %}
</ul>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
Or <a href="/register">Register</a>
{% endif %}