{% extends "layout.html" %}
{% block path %}<a href="/">Home</a> / register{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<script>
  function validateText(name, value) {
    if (typeof value !== "string" || value.length > 100) {
      alert(`${name} has to be a string shorter than 100 characters`)
      return false
    }
    return true
  }

  function validatePasswordMatch(pw1, pw2) {
    if (pw1 !== pw2) {
      alert("Passwords need to match")
      return false
    }
    return true
  }

  function validateForm(form) {
    return validateText("username", form.username.value)
      && validateText("password", form.password.value)
      && validatePasswordMatch(form.password.value, form.password2.value)
  }
</script>

{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="/logout">Logout</a>
{% else %}
<form action="/register" method="POST" onsubmit="return validateForm(this)">
  <label for="username">Username:</label>
  <input type="text" name="username" required></p>
  <label for="password">Password:</label>
  <input type="password" name="password" required></p>
  <label for="password2">Retype password:</label>
  <input type="password" name="password2" required></p>
  <input type="submit" value="Create user">
</form>
{% endif %}
{% endblock %}